<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div class="logo">
      <div class="dots bounce-top">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2 class="banner-title bounce-top">{{ page.landing-title }}</h2>
    </div>
    <p class="page-description bounce-bottom">{{ page.description }}</p>
  </div>
</section>