<!-- Banner -->
<section id="banner">
  <div class="inner">

    <div class="logo">
      <!-- <span class="icon"> -->
      <!-- <i class="fad fa-laptop-code"></i> -->
      <img src="./favicon/favicon32x32.png" alt="logo icon">
      <!-- <div class="dots">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div> -->
        <h2>{{ page.landing-title }}</h2>
      <!-- </span> -->
    </div>
    <p>{{ page.description }}</p>
  </div>
</section>