<!-- Banner -->
<section id="banner">
  <div class="inner">

    <div class="logo">
      <!-- <span class="icon"> -->
      <!-- <i class="fad fa-laptop-code"></i> -->
      <!-- <img src="{{ "favicon/mstile-150x150.png" | relative_url }}" alt="logo icon" class="cs-logo-banner"> -->
      <!-- <div class="cs-loader">
        <div class="cs-outer"></div>
        <div class="cs-middle"></div>
        <div class="cs-inner"></div>
      </div>  -->
      <div class="dots">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2 class="banner-title">{{ page.landing-title }}</h2>
      <!-- </span> -->
    </div>
    <p class="page-description">{{ page.description }}</p>
  </div>
</section>