{% assign features = site.posts | where:"featured",true | sort:"date" | reverse %}
{% for feature in features %}
{% assign is_alt = forloop.index | modulo:2 %}
{% capture alt %}{% if is_alt == 0 %} alt{% endif %}{% endcapture %}
<!-- feature-{{ forloop.index }} -->
<section id="feature-{{ forloop.index }}" class="wrapper{{ alt }} spotlight style{{ forloop.index }}">
  <div class="inner">
    <a href="{{ feature.url | relative_url }}" title="{{ feature.title }}" class="image featured-image-link">
      <img src="{{ feature.image }}" alt="{{ feature.title }}" class="featured-image" />
    </a>
    <div class="content">
      <h2 class="major">
        <a href="{{ feature.url | relative_url }}" title="{{ feature.title }}" class="feature-title">{{ feature.title }}</a>
      </h2>
      <p>{{ feature.description }}</p>
      <a href="{{ feature.url | relative_url }}" class="special">Read More</a>
    </div>
  </div>
</section>
{% endfor %}
