<div id="getInTouch"></div>
<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <h2 class="major"><i class="fad fa-mailbox"></i> Send A Message</h2>
    <hr class="footer">
    <p>If you are contacting me about future projects or recruitment, the easiest way to get a hold of me is with the
      form below. Please leave a detailed description to your inquiry and I will respond accordingly. Thanks!
    </p>
    <form id="contactForm">
      <div class="field">
        <label for="name">Name*</label>
        <input type="text" name="name" id="name" title="Name" required minlength="3" />
      </div>
      <div class="field">
        <label for="email">Email*</label>
        <input type="email" name="email" id="email" title="Email" required email minlength="5" />
      </div>
      <div class="field">
        <label for="reason">Reason for contacting*</label>
        <select name="reason" id="reason">
          <option value="selectOne">--- Select One ---</option>
          <option value="jobOffer">Job Offer</option>
          <option value="bug">Bug on ColinStodd.com</option>
          <option value="post">Question about a blog post</option>
          <option value="project">Question about a project</option>
          <option value="consulting">Consulting (Harpua, LLC)</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="field">
        <label for="phone">Phone Number (Optional)</label>
        <input type="tel" name="phone" id="phone" title="Telephone Number" />
      </div>
      <div class="field">
        <label for="message">Message*</label>
        <textarea name="message" id="message" rows="4" required minlength="5" maxlength="2500" title="Message to Colin Stodd"></textarea>
      </div>

      <div class="field">
        <div id="successMsg" class="alerts" style="display:none;">
          <i class="fad fa-shield-check"></i> Thank you, your info has been sent successfully!
        </div>
        <div id="warningMsg" class="alerts" style="display:none;">
          <i class="fad fa-exclamation-triangle"></i> Problem sending your form, please try again.
        </div>
      </div>

      <div class="field">
        <!-- BotCheck -->

        <div class="bot-check" id="botCheck">
          <div id="checkBox">
            <input type="checkbox"
                   id="botCheckbox"
                   name="botCheckbox"
                   title="Are you a human? *">
            <label for="botCheckbox" class="tooltip">
              <span class="tooltiptext">If you run into any form trouble please email colin@colinstodd.com.</span>
              <i id="userIcon" class="fad fa-robot fa-lg" style="margin:0 0.5em;"></i>
              Are you Human? *
            </label>
          </div>
          <div class="info" id="mathResult">
            <i class="fad fa-window-restore"></i> Please answer the question in the pop-up window to prove you are not a bot.
          </div>

        </div>
      </div>

      <div class="field">
        <ul class="actions">
          <li>
            <button type="submit" id="submitBtn">
              Send Message
            </button>
          </li>
        </ul>
      </div>
      <h4 class="required-star">* Required</h4>
    </form>

    <ul class="contact">
      <li class="fa-github">
        <h4>
          <a href="https://github.com/cbstodd" target="_blank" rel="noopener" title="Github">
            @cbstodd
          </a>
        </h4>
      </li>
      <li class="fa-twitter">
        <h4>
          <a href="https://twitter.com/cbstodd" target="_blank" rel="noopener" title="Twitter">
            @cbstodd
          </a>
        </h4>
      </li>
      <li class="fa-instagram">
        <h4>
          <a href="https://instagram.com/cbstodd" target="_blank" rel="noopener" title="Instagram">@cbstodd
          </a>
        </h4>
      </li>
      <li class="fa-facebook">
        <h4>
          <a href="https://facebook.com/colin.stodd" target="_blank" rel="noopener" title="Facebook">colin.stodd
          </a>
        </h4>
      </li>
      <li class="fab fa-dev">
        <h4>
          <a href="https://dev.to/colper" target="_blank" rel="noopener" title="Dev.to">
            @colper
          </a>
        </h4>
      </li>
      <li class="fa-medium">
        <h4>
          <a href="https://medium.com/@cbstodd" target="_blank" rel="noopener" title="Medium">
            @cbstodd
          </a>
        </h4>
      </li>
      <li class="fa-linkedin">
        <h4>
          <a href="https://www.linkedin.com/in/colin-stodd/" target="_blank" rel="noopener"
             title="LinkedIn">
            colin-stodd
          </a>
        </h4>
      </li>
    </ul>
    <p>&nbsp;</p>
    <hr class="footer">
    <ul class="copyright">
      <!-- <li><img src="./favicon/favicon-32x32.png" alt="logo icon"></li> -->
      <li class="copy">
        <h4><i class="fab fa-creative-commons"></i>&nbsp;Colin Stodd, <a href="https://harpua.co" target="_blank"
             rel="noopener" title="Harpua, LLC">Harpua, LLC</a>. & <a
             href="http://html5up.net" target="_blank" rel="noopener">HTML5 UP</a>.
          Background image by <a href="https://www.etsy.com/shop/AZNpics" target="_blank" rel="noopener"
             title="AZNpics">AZNpics</a>
        </h4>
      </li>
      <li class="copy">
        <h4><a href="/privacy.html">Privacy Policy</a></h4>
      </li>
    </ul>
  </div>
</footer>