<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major" id="getInTouch">Get in touch</h2>
    <p>If you are contacting me about future projects or recruitment, the easiest way to get a hold of me is with the
      form below. Please leave a detailed description to your inquiry and I will respond accordingly. Thanks!
    </p>
    <form method="POST" action="https://getform.io/f/1c2abdba-fac6-4bdc-90c9-5fb74c77eebb">
      <div class="field">
        <label for="name">Name*</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email*</label>
        <input type="email" name="_replyto" id="email" />
      </div>
      <div class="field">
        <label for="tel">Phone Number (Optional)</label>
        <input type="tel" name="tel" id="tel" />
      </div>
      <div class="field">
        <label for="message">Message*</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
      <p>* Required</p>
    </form>
    <ul class="contact">
      <!--~ <li class="fa-home">
        Colin Stodd<br>
        Annapolis, MD
      </li> ~-->
      <!-- <li class="fa-phone">
        <a href="tel:443.333.1031">(443) 333-1031</a>
      </li> -->
      <!--~ <li class="fa-envelope">
        <a href="mailto:cbstodd@harpua.co?subject=[contact] - ColinStodd.com">cbstodd@harpua.co</a>
      </li> ~-->
      <li class="fa-twitter">
        <a href="https://twitter.com/cbstodd" target="_blank">@cbstodd</a>
      </li>
      <li class="fa-instagram">
          <a href="https://instagram.com/cbstodd" target="_blank">@cbstodd</a>
        </li>
      <li class="fa-facebook">
        <a href="https://facebook.com/colin.stodd" target="_blank">colin.stodd</a>
      </li>
      <li class="fa-linkedin">
        <a href="https://www.linkedin.com/in/colin-stodd/" target="_blank">colin-stodd</a>
      </li>
    </ul>
    <ul class="copyright">
      <!-- <li><img src="./favicon/favicon-32x32.png" alt="logo icon"></li> -->
      <li>&copy; Colin Stodd, <a href="https://harpua.co" target="_blank">Harpua, LLC</a>. & <a
           href="http://html5up.net" target="_blank">HTML5 UP</a></li>
      <li> <a href="/privacy.html">Privacy Policy</a></li>
    </ul>
  </div>
</section>