<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major" id="getInTouch">Get in touch</h2>
    <p>If you are contacting me about future projects or recruitment, the easiest way to get a hold of me is with the
      form below. Please leave a detailed description to your inquiry and I will respond accordingly. Thanks!
    </p>
    <form method="POST" action="https://getform.io/f/1c2abdba-fac6-4bdc-90c9-5fb74c77eebb">
      <div class="field">
        <label for="name">Name*</label>
        <input type="text" name="name" id="name" required minlength="3" />
      </div>
      <div class="field">
        <label for="email">Email*</label>
        <input type="email" name="_replyto" id="email" required email minlength="5" />
      </div>
      <div class="field">
        <label for="tel">Phone Number (Optional)</label>
        <input type="tel" name="tel" id="tel" />
      </div>
      <div class="field">
        <label for="message">Message*</label>
        <textarea name="message" id="message" rows="4" required minlength="8" maxlength="2500"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
      <h4>* Required</h4>
    </form>
    <ul class="contact">
      <li class="fa-twitter">
        <h4><a href="https://twitter.com/cbstodd" target="_blank" rel="noopener" title="Twitter">@cbstodd</a></h4>
      </li>
      <li class="fa-instagram">
        <h4><a href="https://instagram.com/cbstodd" target="_blank" rel="noopener" title="Instagram">@cbstodd</a></h4>
      </li>
      <li class="fa-facebook">
        <h4><a href="https://facebook.com/colin.stodd" target="_blank" rel="noopener" title="Facebook">colin.stodd</a>
        </h4>
      </li>
      <li class="fa-medium">
        <h4><a href="https://medium.com/@cbstodd" target="_blank" rel="noopener" title="Medium">@cbstodd</a>
        </h4>
      </li>
      <li class="fa-github">
        <h4><a href="https://github.com/cbstodd" target="_blank" rel="noopener" title="Github">@cbstodd</a>
        </h4>
      </li>
      <li class="fa-linkedin">
        <h4><a href="https://www.linkedin.com/in/colin-stodd/" target="_blank" rel="noopener"
             title="LinkedIn">colin-stodd</a></h4>
      </li>
    </ul>
    <ul class="copyright">
      <!-- <li><img src="./favicon/favicon-32x32.png" alt="logo icon"></li> -->
      <li>
        <h4><i class="fab fa-creative-commons"></i>&nbsp;Colin Stodd, <a href="https://harpua.co" target="_blank"
             rel="noopener" title="Harpua, LLC">Harpua, LLC</a>. & <a
             href="http://html5up.net" target="_blank" rel="noopener">HTML5 UP</a></h4>
      </li>
      <li>
        <h4><a href="/privacy.html">Privacy Policy</a></h4>
      </li>
    </ul>
  </div>
</section>