<head>
	<!-- Google Tag Manager -->
	<script>
		(function (w,d,s,l,i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5KC3SGB');
	</script>
	<!-- End Google Tag Manager -->
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--~ Favicon ~-->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png?v=yyQKGrYykG" | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png?v=yyQKGrYykG" | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png?v=yyQKGrYykG" | relative_url }}">
	<link rel="manifest" href="{{ "site.webmanifest?v=yyQKGrYykG" | relative_url }}">
	<link rel="mask-icon" href="{{ "safari-pinned-tab.svg?v=yyQKGrYykG" | relative_url }}" color="#31394b">
	<link rel="shortcut icon" href="{{ "favicon.ico?v=yyQKGrYykG" | relative_url }}">
	<meta name="apple-mobile-web-app-title" content="Colin Stodd">
	<meta name="application-name" content="Colin Stodd">
	<meta name="msapplication-TileColor" content="#31394b">
	<meta name="theme-color" content="#31394b">
	<meta name="msvalidate.01" content="91EDE404FB4B17668EDEEDDD5F4722BD" />
	<link rel="icon" type="image/x-icon" href="{{ "favicon.ico?v=yyQKGrYykG" | relative_url }}">
	<!-- * PWA * -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="msapplication-starturl" content="/">
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}/><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}/><![endif]-->
	<!-- * FontAwesome * -->
	<link rel="stylesheet"
		  href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css"
		  integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="../../assets/css/smoothbox.css">
	<meta property="og:type" content="website" />
	{% feed_meta %}
	{% seo %}
</head>