<script type="text/javascript">
    require('dotenv').config();
</script>














<!-- <script type="text/javascript">
    console.log('testing');
    const body = document.body;
    console.log('body', body);
    body.classList.add('js-loading');

    window.addEventListener("load",showPage);

    function showPage() {
        document.body.classList.remove('js-loading');
    }

</script>
<style type="text/css">
    .js-loading *,
    .js-loading *:before,
    .js-loading *:after {
        animation-play-state: paused !important;
    }
</style> -->