<!-- Scripts -->
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script id="dsq-count-scr" src="//colinstodd-v2.disqus.com/count.js" async></script>
<!-- <script type="text/javascript" src="../../assets/js/zoom-img.js"></script> -->
<!-- <script type="text/javascript" src="../../assets/js/long-shadow.js"></script> -->
<script src="/assets/js/clipboard.min.js"></script>
<script type="text/javascript">new ClipboardJS('.copy-btn');</script>
<script>
	const recaptchaKey = '6LftvrgZAAAAADgejFQYp77OCk-dp3tDvE6MfhZ4';
	grecaptcha.ready(function() {
		grecaptcha.execute(recaptchaKey, {action: 'homepage'})
		.then(function(token) {
			document.getElementById('captchaResponse').value = token;
		});
	});
	console.log(recaptchaKey);
</script>