/*~  Header ~*/
img.cs-logo {
  justify-items: center;
  align-items: center;
  margin: 1em 2em 0 0;
  float: left;
  max-width: 30px;
}

img.cs-logo-banner {
  justify-items: center;
  align-items: center;
  padding-bottom: 1.3em;
  float: left;
  max-width: 100px;
  max-height: 100px;
}

h2.banner-title {
  background: -webkit-linear-gradient(#ccd5d5, #444853);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-color: #36393f;
  color: transparent;
  text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
}

h1 > a.site-title,
h1 > a.site-title:hover {
  /* background: -webkit-linear-gradient(#FF9B7B, #973D2A); */
  background: -webkit-linear-gradient(#ccd5d5, #444853);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.page-description {
  /* background: -webkit-linear-gradient(#FFD9AD, #973D2A); */
  background: -webkit-linear-gradient(#ccd5d5, #444853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dots-header {
  width: 3em;
  height: 3em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0.6em 2em 0 0;
  float: left;
}

.dots-header > div {
  width: 0.5em;
  height: 0.5em;
  background-color: #8f898e;
  border-radius: 50%;
  animation: fade 1.5s alternate ease-in-out infinite;
}

.dots-header > div:nth-of-type(2),
.dots-header > div:nth-of-type(4) {
  animation-delay: 0.25s;
}

.dots-header > div:nth-of-type(3),
.dots-header > div:nth-of-type(5),
.dots-header > div:nth-of-type(7) {
  animation-delay: 0.5s;
}

.dots-header > div:nth-of-type(6),
.dots-header > div:nth-of-type(8) {
  animation-delay: 0.75s;
}

.dots-header > div:nth-of-type(9) {
  animation-delay: 1s;
}

@keyframes fade {
  to {
    opacity: 0.2;
  }
}

/*~  Banner ~*/
.dots {
  width: 3em;
  height: 3em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-right: 2rem;
  float: left;
}

.dots > div {
  width: 0.5em;
  height: 0.5em;
  background-color: #3cefff;
  border-radius: 50%;
  animation: fade 1.5s alternate ease-in-out infinite;
}

.dots > div:nth-of-type(2),
.dots > div:nth-of-type(4) {
  animation-delay: 0.25s;
}

.dots > div:nth-of-type(3),
.dots > div:nth-of-type(5),
.dots > div:nth-of-type(7) {
  animation-delay: 0.5s;
}

.dots > div:nth-of-type(6),
.dots > div:nth-of-type(8) {
  animation-delay: 0.75s;
}

.dots > div:nth-of-type(9) {
  animation-delay: 1s;
}

@keyframes fade {
  to {
    opacity: 0.2;
  }
}

img.image-gallery-img:hover {
  color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

/*~  Media / Mobile Devices ~*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  .dots-header {
    width: 2em;
    height: 2em;
  }

  img.cs-logo {
    justify-items: center;
    align-items: center;
    margin: 0.5em 2em 0 0;
    float: left;
  }
}

@media (min-width: 1681px) {
  img.cs-logo {
    justify-items: center;
    align-items: center;
    margin: 1.3em 2em 0 0;
    float: left;
  }
}

img.rounded {
  border-radius: 5px;
}

h5.post-cat-title {
  /* text-align: right; */
}

ul.alt > li {
  margin: 0;
  text-decoration: none;
  /* border-top: none !important; */
  /* text-align: right; */
}

a.no-dec {
  border-bottom: none;
}
