---
layout: default
---
<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <a href="/posts.html">
        <h4><i class="fad fa-arrow-alt-circle-left"></i> All Posts</h4>
      </a>
      <a href="{{ page.category | relative_url }}">
        <h2><i class="fad fa-laptop-code"></i> {{ page.title }}</h2>
      </a>
      <p>{{ page.description }} </p>
    </div>
  </header>
  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      {% assign posts = site.categories.code %}
      {% for post in posts %}
      {% if post.title != 404 %}
      <a href="{{ post.url | relative_url }}">

        <header class="major">
          <h1>{{ post.title }}</h1>
        </header>

        <div class="row uniform">
          <div class="8u">
            {% if post.updated %}
            <p><i class="fad fa-pen-alt"></i> {{ post.updated | date_to_string }}</p>
            {% else post.date %}
            <p><i class="fad fa-calendar-alt"></i> {{ post.date | date_to_string }}</p>
            {% endif %}
            {% if post.description %}
            {{ post.description }}
            {% endif %}
          </div>
          <div class="4u">
            {% if post.image %}
            <img src="{{ post.image }}"
                 alt="{{ post.title }}" class="image fit" />
            {% endif %}
          </div>
        </div>
        <hr>
        <!-- <p>{{ post.content }}</p> -->
        {% endif %}
        {% endfor %}
      </a>
    </div>
  </div>
</section>