---
layout: default
---
<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <h2><i class="{{page.icon}}"></i> {{ page.title }}</h2>
      <hr class="banner">
      <p>{{ page.description }} </p>
    </div>
  </header>
  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      {% if page.last_modified_at %}
      {% endif %}
      {{ content }}
      <p class="text-inset">
      <i class="fa fa-calendar-edit text-inset"></i>  Page Last Updated:  {{ page.last_modified_at | date_to_string }}
      </p>
      <hr>
      {% include google-post-ads.html %}
    </div>
  </div>
</section>