---
layout: default
---
<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <a href="/posts/{{ page.category }}.html">
        <h6>{{ page.category }}</h6>
      </a>
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="image right" />
      <h2>{{ page.title }}</h2>
      <h5>
        <a href="/posts/{{ page.categories }}.html" class="cat-link">
          <i class="fad fa-folder-tree"></i> {{ page.categories }}
        </a>
      </h5>
      <h5><i class="fad fa-user"></i> {{ page.author }}</h5>
      <h5><i class="fad fa-tags"></i> {{ page.tags }}</h5>
      <h5 title="Published Date"><i class="fad fa-calendar-alt"></i> {{ page.date | date_to_string }} (Published)
      </h5>
      {% if page.last_modified_at %}
      <h5 title="Updated Date"><i class="fad fa-pen-alt"></i> {{ page.last_modified_at | date_to_string }} (Updated Date)</h5>
      {% endif %}
      <p style="float:right;">{% include facebook-like.html %}</p>
    </div>
  </header>
  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      {{ content }}

      <p>{% include google-post-ads.html %}</p>

      {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
      {% endif %}
    </div>
  </div>
</section>