---
layout: default
---
<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <a href="{{ page.category | relative_url }}">
        <h2><i class="fad fa-code"></i> {{ page.title }}</h2>
      </a>
      <p>{{ page.description }} </p>
      <p>{{ page.summary }}</p>

      <div class="row">
        <div class="6u">
          <h5 class="post-cat-title">Project Categories:</h5>
          {% assign project_categories = site.projects | group_by: 'category' | sort: 'name' %}
          <ul class="alt">
          {% for item in project_categories %}
            <li>
            <i class="fad fa-caret-circle-right"></i>  <a href="/projects/{{ item.name }}.html" class="no-dec capitalize">{{item.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </header>
  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      {% assign projects = site.projects | reverse %}
      {% for project in projects %}
      {% if project.title != 404 %}
      <section class="features">
        <article>
          <a href="{{ project.url | relative_url }}" class="image">
            {% if project.image %}
            <img src="{{ project.image }}" alt="{{ project.title }}">
            {% endif %}
          </a>
          <h3 class="major">{{ project.title }}</h3>
          {% if project.date %}<p><i class="fad fa-calendar-alt"></i> {{ project.date | date_to_string }}</p>
          {% endif %}
          {% if project.description %}
          <p>
            {{ project.description }}
          </p>
          {% endif %}
          <a href="{{ project.url | relative_url }}" class="special">Learn more</a>
        </article>
      </section>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>